<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-card>
    <div>
      <span>ชื่อแอพ: Bookstore</span><br>
      <span>จัดทำโดย: ปริวัฒน์ ไพวงศ์ </span>
      <span>CTF10969</span>
    </div>
    <p></p>
    <div>
      <span>เกี่ยวกับแอพ</span>
      <pre>แอพนี้เป็นแอพสำหรับร้านขายหนังสือทั่วไป โดยแบ่งออกเป็นสามส่วนคือ
        1.ส่วนของผู้เข้าชม(Guest)ที่สามารถเข้ามาดูรายการสินค้าได้อย่างเดียว
        2.ส่วนของสมาชิก(User)เมื่อสมัครเป็นสมาชิกแล้วเข้าสู่ระบบจะสามารถสั่งซื้อหนังสือได้
        3.ส่วนของผู้ดูแลระบบ(Admin) จะมาสามารถเพิ่มลดสมาชิก เพิ่มลดรายการสินค้า และดูยอดสั่งซื้อ
        ระบบหลังบ้านได้นำSpring boot ขึ้นgithub และ deployบนherokuเพื่อเป็นตัวจัดการdatabase
        ตัวdatabase ได้ใช้Jews DB Mysqlบนheroku และจัดการด้วยMysql workbench
        เบื้องต้นนั้นด้วยเวลาและประสบการณ์ทำให้ระบบบ้างส่วนยังเป็นการจำลองการใช้งานและอาจจะต้องรอในส่วนของ
        การดาวโหลดข้อมูลต่างๆจากdatabase ทั้งการเพิ่ม/ลด/ดู/เลือก ที่ต้องรอสักครู่ข้อมูลถึงจะประมวลผลเสร็จ
        ซึ่งหากมีเวลาและประสบการณ์ที่มากขึ้นระบบจะสมบูรณ์ในไม่ช้า
      </pre>
    </div>
    <div>
      <span>เครื่องมือ</span>
      <pre>
        Font-end: Angular/Bootstep/Angualr Material Ui
        Back-end: Spring boot/github/heroku
        Data base: Jews DB Mysql/heroku
      </pre>
    </div>
  </mat-card>
</body>
</html>
