body{
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
mat-card{
  width: 85%;
  height: 90%;
  background-color: rgb(253, 253, 253,0.3);
  position: absolute;
  right: 7.5%;
  top: 5%;
  padding: 5%;
}
