<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="../../assets/images/ifnobook.png">
  <mat-card>
    <h1>Order Management</h1>
    <table>
      <tr>
        <th>ชื่อ</th>
        <th>ที่อยู่จัดส่ง</th>
        <th>รายการสินค้า</th>
      </tr>
      <tr *ngFor="let b of book">
        <td>{{b.name}}</td>
        <td>{{b.address}}</td>
        <td>{{b.order}}</td>
        <th><button mat-icon-button><mat-icon (click) = "deleteuser(b.name)">done</mat-icon></button></th>
      </tr>
    </table>
  </mat-card>
</body>
</html>
