body{
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
mat-card{
  background-color: rgb(253, 253, 253,0.3);
  border-radius: 5% 5% 5% 5%;
  margin-top: 2%;
  width: 100vh;
  height: 90vh;
  text-align: center;
}
.cardposition{
  position: absolute;
  bottom: 2%;
  width: 100%;
}
img{
  width: 100vh;
  position: absolute;
  left: -1%;
  bottom: 5%;
}
h1{
  font-family: 'Courier New', Courier, monospace;
}
table{
  width: 100%;
  font-weight: bold;
}
table,tr,td,th{
  text-align: center;
  border: 1px solid black;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
