body{
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
mat-sidenav-container{
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
mat-sidenav{
  background-color: rgb(253, 253, 253,0.3);
  width: 15%;
}
mat-selection-list{
  color: white;
}
.listcolor{
  color: rgb(252, 252, 252);
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}
mat-icon{
  color: rgb(255, 255, 255);
}
.showCart{
  position: absolute;
  right: 1%;
  top: 20%;
}
