<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="../../assets/images/group.png">
  <mat-card>
    <h1>User Management</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let us of user">
        <td>{{us.username}}</td>
        <td>{{us.password}}</td>
        <td>{{us.type}}</td>
        <th>
          <button mat-icon-button>
            <mat-icon (click) = "deleteuser(us.username)">delete</mat-icon>
          </button>
        </th>
      </tr>
    </table>
  </mat-card>
</body>
</html>
